<%- include('partials/header'); -%>

       <div class="bankadvise-section">
              <div class="container-fluid">
                     <div class="row">
                            <div class="col">
                                   <div class="container-fluid px-4 pt-4">
                                          <h5>Bank Advice</h5>
                                   </div>

                                   <% if(EmployeePayrollData.length===0) { %>
                                          <div class="container no-data">
                                                 <div class="row  ">
                                                        <div class="col-lg-12">
                                                               <img src="/images/no_data.jpg" alt="No data image">
                                                        </div>
                                                 </div>
                                          </div>
                                          <%} else {%>

                                                 <!-- #####################################
                                                               Table
                                                 ####################################### -->
                                                 <div class="container">
                                                        <table class="table">
                                                               <thead>
                                                                      <tr>
                                                                             <th scope="col">Staff ID</th>
                                                                             <th scope="col">Employee Name</th>
                                                                             <th scope="col">Bank & Branch</th>
                                                                             <th scope="col">Bank Account Number</th>
                                                                             <th scope="col">Net Salary <br><span
                                                                                           class="currency">(Gh₵)</span>
                                                                             </th>
                                                                             <th scope="col">
                                                                                    <form action="/download_bank_advice"
                                                                                           method="post">
                                                                                           <input class="form-control"
                                                                                                  type="month"
                                                                                                  name="period">
                                                                             </th>
                                                                      </tr>
                                                               </thead>
                                                               <tbody>
                                                                      <% for (let i=0; i<EmployeePayrollData.length;
                                                                             i++) { %>
                                                                             <tr>
                                                                                    <th scope="row">
                                                                                           <%= EmployeePayrollData[i].Staff_id
                                                                                                  %>
                                                                                    </th>
                                                                                    <td>
                                                                                           <%= EmployeePayrollData[i].Employee_name
                                                                                                  %>
                                                                                    </td>
                                                                                    <td>
                                                                                           <%= EmployeePayrollData[i].BankBranch_BankName
                                                                                                  %>
                                                                                    </td>
                                                                                    <td>
                                                                                           <%= EmployeePayrollData[i].Bank_account_number
                                                                                                  %>
                                                                                    </td>
                                                                                    <td>
                                                                                           <%= EmployeePayrollData[i].Net_Salary
                                                                                                  %>
                                                                                    </td>
                                                                             </tr>

                                                                             <% } %>

                                                                                    <tr>


                                                                                           <td> </td>
                                                                                           <td> </td>
                                                                                           <td> </td>
                                                                                           <th scope="col"
                                                                                                  class="text-primary">
                                                                                                  Total</th>
                                                                                           <th scope="col"
                                                                                                  class="text-primary">
                                                                                                  <%= TotalNetSalary %>
                                                                                           </th>
                                                                                    </tr>
                                                               </tbody>
                                                        </table>

                                                        <div class="container">
                                                               <div class="row print-btn">
                                                                      <div class="col ">
                                                                             <!-- <a href="/download_bank_advice"
                                                                                    type="button"
                                                                                    class="btn bg-primary text-white">Print
                                                                                    Bank
                                                                                    Advice</a> -->
                                                                             <button type="submit"
                                                                                    class="btn bg-primary text-white">Print
                                                                                    Bank Advice</button>
                                                                      </div>
                                                                      </form>
                                                               </div>
                                                        </div>

                                                 </div>

                                                 <% } %>

                            </div>
                     </div>
              </div>
       </div>

       <%- include('partials/footer'); -%>