<%- include('partials/header'); -%>

       <div class="payslip-section">
              <div class="overlay <%= AddOverlay %>"></div>
              <div class="container-fluid">
                     <div class="row">
                            <div class="col">
                                   <div class="container-fluid px-4 pt-4">
                                          <h5> Payslip</h5>
                                   </div>


                                   <!-- #####################################
                                             Search bar 
                                   ####################################### -->

                                   <div class="container">
                                          <form class="d-flex search-bar">
                                                 <input class="form-control me-2" type="search"
                                                        placeholder="Search employee name, position, id...."
                                                        aria-label="Search">
                                                 <button class="btn btn-primary" type="submit">Search</button>
                                          </form>
                                   </div>


                                   <!-- #####################################
                                                        Table
                                          ####################################### -->
                                   <div class="container main-content">
                                          <table class="table">
                                                 <thead>
                                                        <tr>
                                                               <th scope="col">Employee Name</th>
                                                               <th scope="col">Staff ID</th>
                                                               <th scope="col">Tin Number</th>
                                                               <th scope="col">Position</th>
                                                               <th scope="col">SSF Number</th>
                                                               <th scope="col">Bank & Branch</th>
                                                        </tr>
                                                 </thead>

                                                 <tbody>
                                                        <% for (let i=0; i<EmployeePayrollData.length; i++) { %>
                                                               <tr>
                                                                      <th scope="row">
                                                                             <%= EmployeePayrollData[i].Employee_name %>
                                                                      </th>
                                                                      <td>
                                                                             <%= EmployeePayrollData[i].Staff_id %>
                                                                      </td>
                                                                      <td>
                                                                             <%= EmployeePayrollData[i].Tin_number %>
                                                                      </td>
                                                                      <td>
                                                                             <%= EmployeePayrollData[i].Position %>
                                                                      </td>
                                                                      <td>
                                                                             <%= EmployeePayrollData[i].SSF %>
                                                                      </td>
                                                                      <td>
                                                                             <%= EmployeePayrollData[i].BankBranch_BankName
                                                                                    %>
                                                                      </td>
                                                                      <td>
                                                                             <form action="/employee-payslip-detalis"
                                                                                    method="post">
                                                                                    <button class="btn btn-info text-white"
                                                                                           name="empID"
                                                                                           value="<%= EmployeePayrollData[i].ID %>">View
                                                                                           Employee</button>
                                                                             </form>
                                                                      </td>

                                                               </tr>
                                                               <% } %>
                                                 </tbody>
                                          </table>
                                   </div>

                                   <!-- ///////////////////////////////////////////////////////////////////////////
                                                   Details of Payslip Form
                                   /////////////////////////////////////////////////////////////////////////////// -->
                                   <div class="cotainer employee-payslip-form">
                                          <div class="container payslip-form-content <%=OpenPaySlipForm %>">
                                                 <!-- ################ 
                                                         Close Button
                                                 ####################### -->
                                                 <div class="row">
                                                        <div class="col d-flex close-form-btn">
                                                               <h5>Michael Payslip</h5>
                                                               <button class="btn btn-danger payslip-form-btn"
                                                                      onclick="closePayslipForm()">Close</button>
                                                        </div>
                                                 </div>
                                                 <hr>
                                                 <!-- ####################################################
                                                         More information about the Selected Employee
                                                 ####################################################### -->
                                                 <div class="row payslip-form-view">
                                                        <div class="col">
                                                               <form action="#" method="post">
                                                                      <div>
                                                                             <table class="table">
                                                                                    <tbody>
                                                                                           <tr>
                                                                                                  <th scope="row">
                                                                                                         Employee Name
                                                                                                  </th>
                                                                                                  <td>Michael</td>

                                                                                                  <th scope="row">
                                                                                                         Positio</th>
                                                                                                  <td>IT Officer</td>
                                                                                           </tr>
                                                                                           <tr>
                                                                                                  <th scope="row">Staff
                                                                                                         Id</th>
                                                                                                  <td>2342334534</td>

                                                                                                  <th scope="row">Tin
                                                                                                         Number</th>
                                                                                                  <td>2342334efe534</td>
                                                                                           </tr>

                                                                                           <tr>
                                                                                                  <th scope="row">Bank
                                                                                                         Name</th>
                                                                                                  <td>FNB Accra</td>

                                                                                                  <th scope="row">Bank
                                                                                                         Account</th>
                                                                                                  <td>2342334efe534</td>
                                                                                           </tr>
                                                                                    </tbody>
                                                                             </table>
                                                                      </div>
                                                                      <hr>
                                                                      <div>
                                                                             <table class="table">
                                                                                    <tbody>
                                                                                           <!-- ##################
                                                                                                  Earnings
                                                                                           ######################### -->
                                                                                           <tr>
                                                                                                  <th> Earnings</th>
                                                                                                  <th>Amount (Gh₵)</th>
                                                                                           </tr>
                                                                                           <tr>
                                                                                                  <td>Basic Salary</td>
                                                                                                  <td>2000</td>
                                                                                           </tr>
                                                                                           <tr>
                                                                                                  <td>Taxable Allowance
                                                                                                  </td>
                                                                                                  <td>3000</td>
                                                                                           </tr>
                                                                                           <tr>
                                                                                                  <td>Non Taxable
                                                                                                         Allowance</td>
                                                                                                  <td>200</td>
                                                                                           </tr>
                                                                                           <tr>
                                                                                                  <th>Total Earnings
                                                                                                  </th>
                                                                                                  <th>200</th>
                                                                                           </tr>

                                                                                           <!-- ########################
                                                                                                  Deductions
                                                                                           ########################## -->
                                                                                           <tr>
                                                                                                  <th>Deductions</th>
                                                                                                  <th>Amount (Gh₵)</th>

                                                                                           </tr>
                                                                                           <tr>
                                                                                                  <td>Paye Income Tax
                                                                                                  </td>
                                                                                                  <td>2000</td>
                                                                                           </tr>
                                                                                           <tr>
                                                                                                  <td>SSF(5.5%)
                                                                                                  </td>
                                                                                                  <td>3000</td>
                                                                                           </tr>
                                                                                           <tr>
                                                                                                  <td>Other deductions
                                                                                                  </td>
                                                                                                  <td>200</td>
                                                                                           </tr>
                                                                                           <tr>
                                                                                                  <th>Total Deductions
                                                                                                  </th>
                                                                                                  <th>200</th>
                                                                                           </tr>

                                                                                           <tr>
                                                                                                  <th>Net Pay (Gh₵)
                                                                                                  </th>
                                                                                                  <th>200</th>
                                                                                           </tr>
                                                                                    </tbody>
                                                                             </table>
                                                                      </div>

                                                                      <div class="d-flex opened-form-btn">
                                                                             <button type="submit"
                                                                                    class="btn btn-success">Print
                                                                                    Info</button>
                                                                      </div>
                                                               </form>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>

                            </div>
                     </div>
              </div>
       </div>

       <%- include('partials/footer'); -%>