<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>

       <!-- CSS -->
       <link rel="stylesheet" href="/css/styles.css">

       <!-- Fontawesome Icons -->
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
              integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
              crossorigin="anonymous" />
</head>

<body style="background: darkgray">
       <div class="container">
              <div class="row mt-3">
                     <div class="col">
                            <a href="/bankadvice_doc" class="btn bg-primary">Download</a>
                     </div>
              </div>
       </div>


       <div class="my-5 page" size='A4'>
              <div class="p-5">
                     <div class="row">
                            <div class="col">
                                   <table class="head-table">
                                          <tr class="head-row">
                                                 <td class="px-3 py-2 head-data">
                                                        Company Name
                                                 </td>
                                                 <th class="px-3 py-2 head-data company-heading">
                                                        <%= CompanyName %>
                                                 </th>
                                          </tr>
                                          <tr class="head-row">
                                                 <td class="px-3 py-2 head-data">
                                                        Address
                                                 </td>
                                                 <th class="px-3 py-2 head-data company-heading">
                                                        <%= CompanyAddress %>
                                                 </th>
                                          </tr>
                                          <tr class="head-row">
                                                 <td class="px-3 py-2 head-data"> Payroll Period</td>
                                                 <th class="px-3 py-2 head-data company-heading">
                                                        <%= Period %>
                                                 </th>
                                          </tr>

                                   </table>
                            </div>
                     </div>
                     <br><br>

                     <div class="row">
                            <div class="col">
                                   <table class="body-table" style="width: 100%;">
                                          <thead class="bg-primary">
                                                 <tr class="body-row">
                                                        <th scope="col" class="px-2 body-head text-white">Staff ID</th>
                                                        <th scope="col" class="px-2 body-head text-white">Employee Name
                                                        </th>
                                                        <th scope="col" class="px-2 body-head text-white">Bank & Branch
                                                        </th>
                                                        <th scope="col" class="px-2 body-head text-white">Bank Account
                                                               Number</th>
                                                        <th scope="col" class="px-2 body-head text-white">Net Salary
                                                               <br><span class="currency">(Gh₵)</span>
                                                        </th>
                                                 </tr>
                                          </thead>
                                          <tbody>
                                                 <% EmployeePayrollData.forEach(emp=> { %>


                                                        <tr class="body-row">
                                                               <td scope="row" class="body-data">
                                                                      <%= emp.Staff_id %>
                                                               </td>
                                                               <td class="body-data">
                                                                      <%= emp.Employee_name %>
                                                               </td>
                                                               <td class="body-data">
                                                                      <%= emp.BankBranch_BankName %>
                                                               </td>
                                                               <td class="body-data">
                                                                      <%= emp.Bank_account_number %>
                                                               </td>
                                                               <td class="body-data">
                                                                      <%= emp.Net_Salary %>
                                                               </td>
                                                        </tr>
                                                        <%})%>
                                                               <tr>


                                                                      <td> </td>
                                                                      <td> </td>
                                                                      <td> </td>
                                                                      <th scope="col" class="company-heading body-head">
                                                                             Total</th>
                                                                      <th scope="col" class="company-heading body-head">
                                                                             <%= TotalNetSalary %>
                                                                      </th>
                                                               </tr>
                                          </tbody>
                                   </table>
                            </div>
                     </div>
              </div>
       </div>


       <!-- ###############################
                     Bootstrap JS
       ################################ -->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
              crossorigin="anonymous">
              </script>
</body>

</html>