<%- include('partials/header'); -%>

       <div class="bankadvise-section">
              <div class="container-fluid">
                     <div class="row">
                            <div class="col">
                                   <div class="container-fluid px-4 pt-4">
                                          <h5>Tier 2 Returns</h5>
                                   </div>

                                   <!-- #####################################
                                                                             Table
                                                               ####################################### -->
                                   <div class="container main-content">
                                          <table class="table">
                                                 <thead>
                                                        <tr>
                                                               <th scope="col">Employee Name</th>
                                                               <th scope="col">SSF Number</th>
                                                               <th scope="col">Basic Salary <br><span
                                                                             class="currency">(Gh₵)</span></th>
                                                               <th scope="col">Amount <br><span
                                                                             class="currency">(Gh₵)</span></th>
                                                        </tr>
                                                 </thead>
                                                 <tbody>
                                                        <% for (let i=0; i<EmployeePayrollData.length; i++) { %>
                                                               <tr>
                                                                      <th scope="row">
                                                                             <%= EmployeePayrollData[i].Employee_name %>
                                                                      </th>
                                                                      <td>
                                                                             <%= EmployeePayrollData[i].SSF_account_number
                                                                                    %>
                                                                      </td>
                                                                      <td>
                                                                             <%= EmployeePayrollData[i].Basic_salary %>
                                                                      </td>
                                                                      <td>
                                                                             <%= EmployeePayrollData[i].SSF%>
                                                                      </td>
                                                               </tr>
                                                               <% } %>
                                                 </tbody>
                                          </table>

                                   </div>

                            </div>
                     </div>
              </div>
       </div>

       <%- include('partials/footer'); -%>