<%- include('partials/header'); -%>

       <div class="tier2-section">
              <div class="container-fluid">
                     <div class="row">
                            <div class="col">
                                   <div class="container-fluid px-4 pt-4">
                                          <h5>Tier 2 Returns</h5>
                                   </div>

                                   <% if(EmployeePayrollData.length===0) { %>
                                          <div class="container no-data">
                                                 <div class="row  ">
                                                        <div class="col-lg-12">
                                                               <img src="/images/no_data.jpg" alt="No data image">
                                                        </div>
                                                 </div>
                                          </div>
                                          <%} else {%>

                                                 <!-- #####################################
                                                               Table
                                                 ####################################### -->
                                                 <div class="container">
                                                        <table class="table">
                                                               <thead>
                                                                      <tr>
                                                                             <th scope="col">Employee Name</th>
                                                                             <th scope="col">SSF Number</th>
                                                                             <th scope="col">Basic Salary <br><span
                                                                                           class="currency">(Gh₵)</span>
                                                                             </th>
                                                                             <th scope="col">Amount <br><span
                                                                                           class="currency">(Gh₵)</span>
                                                                             </th>
                                                                             <th scope="col">
                                                                                    <form action="/download_tier2"
                                                                                           method="post">
                                                                                           <input class="form-control"
                                                                                                  type="month"
                                                                                                  name="period">
                                                                             </th>
                                                                      </tr>
                                                               </thead>
                                                               <tbody>
                                                                      <% for (let i=0; i<EmployeePayrollData.length;
                                                                             i++) { %>
                                                                             <tr>
                                                                                    <th scope="row">
                                                                                           <%= EmployeePayrollData[i].Employee_name
                                                                                                  %>
                                                                                    </th>
                                                                                    <td>
                                                                                           <%= EmployeePayrollData[i].SSF_account_number
                                                                                                  %>
                                                                                    </td>
                                                                                    <td>
                                                                                           <%= EmployeePayrollData[i].Basic_salary
                                                                                                  %>
                                                                                    </td>
                                                                                    <td>
                                                                                           <%=
                                                                                                  EmployeePayrollData[i].Tier2_Returns%>
                                                                                    </td>
                                                                             </tr>
                                                                             <% } %>
                                                                                    <tr>
                                                                                           <td> </td>
                                                                                           <td> </td>
                                                                                           <th scope="col"
                                                                                                  class="text-primary">
                                                                                                  Total</th>
                                                                                           <th scope="col"
                                                                                                  class="text-primary">
                                                                                                  <%= TotalTier2 %>
                                                                                           </th>
                                                                                    </tr>
                                                               </tbody>
                                                        </table>

                                                        <div class="container">
                                                               <div class="row print-btn">
                                                                      <div class="col ">
                                                                             <button type="submit"
                                                                                    class="btn bg-primary text-white">Print
                                                                                    Tier 2
                                                                                    Returns</button>
                                                                             <!-- <a href="/download_tier2" type="button"
                                                                                    class="btn bg-primary text-white">Print
                                                                                    Tier 2 Returns
                                                                             </a> -->
                                                                      </div>
                                                                      </form>
                                                               </div>
                                                        </div>

                                                 </div>

                                                 <%}%>

                            </div>
                     </div>
              </div>
       </div>

       <%- include('partials/footer'); -%>